# Pandas

- Pandas is a Python library used for working with data sets.

- It has functions for analyzing, cleaning, exploring, and manipulating data.

how to create a column dataframe ?

In [2]:
import pandas as pd # common use

In [5]:
ages = pd.Series([12,32,7,8,14,21,18])
ages

0    12
1    32
2     7
3     8
4    14
5    21
6    18
dtype: int64

In [6]:
ages[0]

12

In [7]:
names = ['person1', 'person2', 'person3', 'person4', 'person5', 'person6', 'person7']
ages = pd.Series([12,32,7,8,14,21,18], index = names)

In [9]:
ages['person5']

14

In [10]:
Dist = {'person1': 12,
 'person2': 32,
 'person3': 7,
 'person4': 8,
 'person5': 14,
 'person6': 21,
 'person7': 18}

In [11]:
ages = pd.Series(Dist)

In [12]:
ages

person1    12
person2    32
person3     7
person4     8
person5    14
person6    21
person7    18
dtype: int64

In [15]:
dist = {"names":['omar','abdelah','hossam','amine','mohamed','othman'],
"ages":[13,40,32,16,21,30]
}

In [16]:
df = pd.DataFrame(dist)

In [17]:
df

     names  ages
0     omar    13
1  abdelah    40
2   hossam    32
3    amine    16
4  mohamed    21
5   othman    30

In [13]:
df = pd.read_csv("data.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'

In [19]:
df.head()

    Person  ages
0  abdelah    21
1  zouhair    13
2  houssam    34
3    amine    18
4  souhail    23

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Person  7 non-null      object
 1   ages    7 non-null      int64
dtypes: int64(1), object(1)
memory usage: 240.0+ bytes

In [25]:
df['ages'].mean()

21.857142857142858

In [26]:
df['ages'].median() # middle of the dataset

22.0

In [27]:
df['ages'].mode() # most frequent element

0    22
Name: ages, dtype: int64