# List Methods :

## Append : we use the append method to add an element to the end of a list

In [5]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")

In [6]:
fruits

['apple', 'banana', 'cherry', 'orange']

## Extend

In [32]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)

In [33]:
fruits

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [42]:
fruits = ['apple', 'banana', 'cherry']
points = (1, 4, 5, 9)
string = "hello"
fruits.extend(points)

In [43]:
fruits

['apple', 'banana', 'cherry', 1, 4, 5, 9]

## Insert

In [57]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
fruits.insert(1, "strawberry")

In [58]:
fruits

['apple', 'strawberry', 'orange', 'banana', 'cherry']

## Clear

In [3]:
fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.clear()

In [4]:
fruits

[]

## Copy

In [19]:
fruits = ['apple', 'banana', 'cherry', 'orange']
x = fruits.copy()

In [20]:
fruits[2] = 'strawberry'
fruits

['apple', 'banana', 'strawberry', 'orange']

In [21]:
x

['apple', 'banana', 'cherry', 'orange']

## Count

In [23]:
fruits = ['apple', 'banana', 'cherry','cherry']
x = fruits.count("cherry")

In [24]:
x

2

In [27]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1, 9, 9]
x = points.count(9)

In [28]:
x

4

## Index

In [49]:
fruits = ['apple', 'banana', 'cherry']
x = fruits.index("apple")

In [50]:
x

0

In [18]:
fruits = [4, 55, 64, 32, 16, 32]
x = fruits.index(32)

In [19]:
x

3

## Pop

In [59]:
fruits = ['apple', 'banana', 'cherry']
fruits.pop(1)

'banana'

In [60]:
fruits

['apple', 'cherry']

## Remove

In [61]:
fruits = ['apple', 'banana', 'cherry']
fruits.remove("cherry")

In [62]:
fruits

['apple', 'banana']

## Reverse

In [27]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()

In [28]:
fruits

['cherry', 'banana', 'apple']

## Sort

In [92]:
fruits = ['cherry', 'apple', 'banana']
fruits.sort()

In [93]:
fruits

['apple', 'banana', 'cherry']

In [94]:
fruits.sort(reverse=True)

In [95]:
fruits

['cherry', 'banana', 'apple']

In [96]:
numbers = [2,4,1,9,6,9,7,8,3,1,0]
numbers.sort()

In [82]:
numbers

[0, 1, 1, 2, 3, 4, 6, 7, 8, 9, 9]

# Practice :

### Exercice 1 :

Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.

### Exercice 2 :

Write a Python program to print the numbers of a specified list after removing even numbers from it.

### Exercice 3 :

Write a Python program access the index of a list.

### Exercice 4 :

Write a Python program to insert an element at a specified position into a given list.
Original list:
[1, 1, 2, 3, 4, 4, 5, 1]
After inserting an element at kth position in the said list:
[1, 1, 12, 2, 3, 4, 4, 5, 1]

### Exercice 5 :

Write a Python program to find the list in a list of lists whose sum of elements is the highest. Go to the editor
Sample lists: [1,2,3], [4,5,6], [10,11,12], [7,8,9]
Expected Output: [10, 11, 12]